TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION=my_vault2
REGISTRY_GROUP_ID=
TOPIC_REGISTRY=
TOPIC_ACCOUNTS=
TOPIC_LOGS=
TOPIC_HEALTH=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
BASE_DOMAIN=airdeploy.xyz
ORCHESTRATOR_SECRET=
